---
import Layout from '../../layouts/Layout.astro';
import Consulta from '../../components/Consulta.astro';
import EquipoEsp from '../../components/EquipoEspecial3.astro';

import img1 from '@assets/especialidades/image10.png';
import img2 from '@assets/especialidades/image10b.png';
import img3 from '@assets/especialidades/image10c.png';
import img4 from '@assets/especialidades/image10d.png';
import img5 from '@assets/especialidades/image10e.png';
import img6 from '@assets/especialidades/image10f.png';
import img7 from '@assets/especialidades/image10g.png';
---
<Layout title="Fisioterapia Rehabilitación">
      <!--- -->
      <div class="px-2">
        <section class="scroll-nav w-full h-[90vh] my-6">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-center gap-12 items-center w-full lg:h-full h-[80%]">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img1.src} alt="" class="lg:h-full w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h2 class="uppercase text-[#1579BD] leading-6 lg:text-6xl text-2xl font-bold">fisioterapia</h2>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">y rehabilitación</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-2 text-[#000] text-sm lg:text-base">
                <p>Tiene como objetivo recuperar, mejorar la capacidad funcional y calidad de vida de aquellas personas que sufren de discapacidad por una enfermedad o lesión.</p>
                <p>Entre los trastornos que con más frecuencia requieren este tipo de tratamiento son: fracturas de las extremidades, amputaciones, parálisis cerebral y otras lesiones de músculos, articulaciones y tendones.</p>
              </div>
          </div>
        </section>

        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img2.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">fisioterapia</h3>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">ortopédica</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-3 ">
                  <p class="text-[#000] text-sm lg:text-base">Programa de fisioterapia diseñado especialmente para los pacientes que sufren de alteraciones posturales tales como pies planos, escoliosis y desviaciones pélvicas. Estas alteraciones pueden o no pueden implicar dolor físico.</p>
                </div>
            </div>
        </section>

        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img3.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">fisioterapia</h3>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">traumatológica</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-3 text-sm lg:text-base text-[#000]">
                  <p>Esta terapia está diseñada para las personas que han sufrido una lesión traumática en el aparato locomotor (huesos, músculos, ligamentos y tendones), tales como fracturas y esguinces, así estas lesiones hayan llevado a cirugía o no.</p>
                  <p>Nuestro principal objetivo es facilitar la regeneración de los tejidos para evitar desequilibrio biomecánico utilizando equipos electro físicos y las técnicas manuales.</p>
                </div>
            </div>
        </section>

        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img4.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">fisioterapia</h3>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">biomecánica</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-3 text-sm lg:text-base text-[#000]">
                  <p>Desarrollamos un sistema minucioso de evaluación en el cual analizamos en forma integral las características innatas y adquiridas de cada paciente. Consideramos la historia de la lesión dentro de las características propias de cada individuo y principalmente aprovechamos la evaluación para explicar al paciente todo lo concerniente a su situación, que está pasando en su estructura, como puede ayudarse y sus posibilidades futuras.</p>
                </div>
            </div>
        </section>

        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img5.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">disfunciones</h3>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">temporomandibulares</h3>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">de la atm</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-3 text-sm lg:text-base text-[#000]">
                  <p>El dolor que se siente en la disfunción de la articulación temporomandibular puede irradiarse a la cara, la cabeza y los dientes como resultado de disfunciones del cóndilo, capsula y desajustes vertebrales de la columna vertebral sub craneal. <span class="font-bold uppercase">Pododinamic</span> considera interactuar y coordinar con Odontólogos, Cirujanos Maxilofaciales de esta especialidad y Podólogos.</p>
                </div>
            </div>
        </section>

        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img6.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">terapia de laser</h3>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">terapeutico dmc</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-2 text-xs lg:text-base text-[#000]">
                  <p>Cuando los tejidos corporales son irradiados por láseres, las enzimas dentro de las células absorben la energía de la luz láser. La luz visible (roja) e infrarroja se absorbe en las mitocondrias, los cromóforos y la membrana celular. La estimulación de los cromóforos en las membranas mitocondriales estimula la producción de ATP (la principal forma de energía de la célula), aumentando la salud y la energía celular. Cuando se aplica como tratamiento, los láseres reducen el dolor y la inflamación, además de estimular la curación, la regeneración nerviosa, la relajación muscular y la respuesta del sistema inmunitario.</p>
                </div>
            </div>
        </section>

        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img7.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">fisioterapia</h3>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">en la tercera edad</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-3 text-sm lg:text-base text-[#000]">
                  <p>Por la progresiva pérdida ósea y de masa muscular, en la tercera edad se ve afectado el balance y desplazamiento. Recomendamos evaluación y tratamiento precoz para evitar desacondicionamiento y riesgo de caídas, los resultados son sorprendentes.</p>
                </div>
            </div>
        </section>
        
        </div>
        <EquipoEsp />
      <Consulta />
</Layout>
<style>
	html{
		scroll-snap-type: y mandatory;
	}
	.scroll-item{
		scroll-snap-align: center;
	}
	.scroll-nav{
		scroll-snap-align: center;
	}
</style>