---
import Layout from '../../layouts/Layout.astro';
import Consulta from '../../components/Consulta.astro';
import img1 from '../../assets/tiposP/portadaTP.png';
import img2 from '../../assets/tiposP/planti01.png';
import img3 from '../../assets/tiposP/planti02.png';
import img4 from '../../assets/tiposP/planti03.png';
import img5 from '../../assets/tiposP/planti04.png';
import img6 from '../../assets/tiposP/planti05.png';
import cruzA from '../../assets/inicio/icon01.png';
---

<Layout title="Pododinamic | Plantillas">

        <section class="py-12 lg:py-4 relative">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full  lg:justify-evenly items-center px-4 gap-12 lg:gap-0">
				<div class="lg:w-[35%] w-[80%]">
					<img src={img1.src} alt="" class="w-full">
				</div>
				<img src={cruzA.src} alt="" class="w-8 absolute lg:top-8 lg:right-60">
				<div class="flex flex-col text-center w-[80%] lg:w-[40%]">
					<h6 class="uppercase text-[#8FC751]">Te acompañamos en cada paso</h6>
					<h2 class="uppercase text-[#1579BD] lg:text-6xl text-2xl font-bold">plantillas</h2>
					<h3 class="uppercase text-[#55BABB] lg:text-4xl text-xl">para toda la ocasión</h3>
					<div class="flex justify-center items-center w-full mt-2">
						<p class="lg:w-[55%]">Favorecen la correcta colocación del pie de apoyo, correcta sincronización del movimiento de ambos pies y mejor alineación subtalar.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="scroll-item h-screen">
			<div class="flex flex-col w-full h-full justify-center items-center px-4 lg:gap-5 gap-16">
				<div class="flex w-full justify-center items-center gap-2 lg:gap-0">
					<div class="flex flex-col text-center w-[50%] lg:w-auto">
						<h3 class="uppercase text-[#8FC751] lg:text-4xl text-2xl">plantillas</h3>
						<h3 class="uppercase text-[#8FC751] lg:text-4xl text-2xl">ergonómicas</h3>
						<h3 class="uppercase text-[#1579BD] lg:text-4xl text-2xl font-bold">dinámicas kids</h3>
						<div class="flex justify-center items-center w-full mt-2">
							<p class="lg:w-[60%]">Correctores de pies planos-valgos con el sistema Medial Hell Skive.</p>
						</div>
					</div>
					<div class="lg:w-[25%] w-[50%]">
						<img src={img2.src} alt="" class="w-full">
					</div>
				</div>
				<div class="flex w-full justify-center flex-row-reverse items-center px-4 gap-2 lg:gap-0">
					<div class="flex flex-col text-center w-[50%] lg:w-auto">
						<h3 class="uppercase text-[#8FC751] lg:text-4xl text-2xl">plantillas</h3>
						<h3 class="uppercase text-[#1579BD] lg:text-4xl text-2xl font-bold">dinámicas sport</h3>
						<div class="flex justify-center items-center w-full mt-2">
							<p class="lg:w-[38%]">Te acompañan en cada paso... el primer contacto, talón - suelo, apoyo y despegue.</p>
						</div>
					</div>
					<div class="lg:w-[25%] w-[50%]">
						<img src={img3.src} alt="" class="w-full">
					</div>
				</div>
			</div>
		</section>

		<section class="scroll-item h-screen">
			<div class="flex flex-col w-full h-full justify-center items-center px-4 lg:gap-5 gap-16 ">
				<div class="flex w-full justify-center items-center gap-2 lg:gap-0">
					<div class="flex flex-col text-center w-[50%] lg:w-auto">
						<h3 class="uppercase text-[#8FC751] lg:text-4xl text-2xl">plantillas</h3>
						<h3 class="uppercase text-[#1579BD] lg:text-4xl text-2xl font-bold">dinámicas</h3>
						<h3 class="uppercase text-[#1579BD] lg:text-4xl text-2xl font-bold">terapeuticas</h3>
						<div class="flex justify-center items-center w-full mt-2">
							<p class="lg:w-[60%]">Correctores de pies planos-valgos con el sistema Medial Hell Skive.</p>
						</div>
					</div>
					<div class="lg:w-[25%] w-[50%]">
						<img src={img4.src} alt="" class="w-full">
					</div>
				</div>
				<div class="flex w-full justify-center flex-row-reverse items-center gap-2 lg:gap-0">
					<div class="flex flex-col text-center w-[50%] lg:w-auto">
						<h3 class="uppercase text-[#8FC751] lg:text-4xl text-2xl">plantillas</h3>
						<h3 class="uppercase text-[#1579BD] lg:text-4xl text-2xl font-bold">dinámicas sport</h3>
						<div class="flex justify-center items-center w-full mt-2">
							<p class="lg:w-[38%]">Te acompañan en cada paso... el primer contacto, talón - suelo, apoyo y despegue.</p>
						</div>
					</div>
					<div class="lg:w-[25%] w-[50%]">
						<img src={img5.src} alt="" class="w-full">
					</div>
				</div>
			</div>
		</section>

		<section class="scroll-item h-screen">
			<div class="flex lg:flex-row-reverse flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-1">
				<div class="lg:w-[35%] w-[80%]">
					<img src={img6.src} alt="" class="w-full">
				</div>
				<div class="flex flex-col text-center w-[60%] lg:w-[50%]">
					<h3 class="uppercase text-[#8FC751] lg:text-4xl text-2xl">plantillas</h3>
					<h3 class="uppercase text-[#1579BD] lg:text-4xl text-2xl font-bold">dinámicas</h3>
					<h3 class="uppercase text-[#1579BD] lg:text-4xl text-2xl font-bold">deportivas</h3>
					<div class="flex justify-center items-center w-full mt-2">
						<p class="lg:w-[35%]">La posición de tus pies juega un rol fundamental a la hora de realizar cualquier movimiento, siendo más importante aún en la práctica deportiva.</p>
					</div>
				</div>
			</div>
		</section>

    <Consulta />
</Layout>
<style>
	html{
		scroll-snap-type: y mandatory;
	}
	.scroll-item{
		scroll-snap-align: center;
	}
	.scroll-nav{
		scroll-snap-align: center;
	}
</style>