---
import Layout from '../../layouts/Layout.astro';
import Consulta from '../../components/Consulta.astro';
import EquipoEspecial2 from '@components/EquipoEspecial2.astro';

import soporte1 from '../../assets/productos/soporte/image13.png';
import soporte2 from '../../assets/productos/soporte/plantares01a.png';
import soporte3 from '../../assets/productos/soporte/plantares02a.png';
import soporte4 from '../../assets/productos/soporte/plantares03a.png';
import soporte5 from '../../assets/productos/soporte/plantares04a.png';
import soporte6 from '../../assets/productos/soporte/plantares05a.png';
import soporte7 from '../../assets/productos/soporte/plantares06a.png';
import soporte8 from '../../assets/productos/soporte/plantares07a.png';
---

<Layout title="Pododinamic | Productos | Soportes">

        <section class="py-12 lg:py-4">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">
				<div class="lg:w-[35%] w-[80%] ">
					<img src={soporte1.src} alt="" class="w-full rounded-lg">
				</div>
				<div class="flex flex-col items-center justify-center text-center w-[80%] lg:w-[40%] h-full">
					<h6 class="uppercase text-[#8FC751]">Te acompañamos en cada paso</h6>
					<h2 class="uppercase text-[#1579BD] lg:text-6xl text-2xl font-bold">soportes</h2>
					<h3 class="uppercase text-[#55BABB] lg:text-4xl text-xl">plantares eva</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[58%]">
                <ul class="text-center">
                    <li>Insumo: Ethylene Vinyl Acetate, es una espuma termoplástica con diferentes grados de dureza y densidad de laboratorio herbitas y otros, no es tóxico, buena estabilidad, ligero, lavable. Muy utilizados para la confección de plantillas.</li>
                    <li>Tipo: personalizadas.</li>
                    <li>Sistema: MOLDEO-TAD</li>
                </ul>
					</div>
				</div>
			</div>
		</section>

        <!-------------------SLIDER 1------------------------- -->
		<section class="scroll-nav h-screen">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">

				<div class="relative z-40 lg:w-[50%] w-[80%] my-4 lg:h-[80%]">
                    <swiper-container navigation="false" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp lg:w-full h-full rounded-lg z-20">
                      <swiper-slide class="relative">
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full w-full flex justify-center items-center">
                            <img src={soporte2.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                        
                      </swiper-slide>
                      <!---<swiper-slide>
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full flex justify-center items-center">
                            <img src={soporte1.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                      </swiper-slide>--->
                    </swiper-container>
                  </div>
				<div class="flex flex-col text-center w-[80%] lg:w-[40%] items-center">
					<h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">plantilla termo</h6>
                    <h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">conformada</h6>
					<h2 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">eva "almendra</h2>
					<h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">metatarsal"</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[60%]">
                <ul class="text-center">
                    <li>1ra capa azul 4mm 30° SHA.</li>
                    <li>2da capa blanco 10mm 30° SHA.</li>
                </ul>
					</div>
              <a href="/contacto" class="bg-[#55BABB] text-[#fff] py-2 my-4 rounded-xl w-[30%]">Informes</a>
				</div>
			</div>
		</section>

        <!-------------------SLIDER 2------------------------- -->
        <section class="scroll-nav h-screen">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">

				<div class="relative z-40 lg:w-[50%] w-[80%] my-4 lg:h-[80%]">
                    <swiper-container navigation="false" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp lg:w-full h-full rounded-lg z-20">
                      <swiper-slide class="relative">
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full w-full flex justify-center items-center">
                            <img src={soporte3.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                        
                      </swiper-slide>
                      <!---<swiper-slide>
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full flex justify-center items-center">
                            <img src={soporte1.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                      </swiper-slide>--->
                    </swiper-container>
                  </div>
				<div class="flex flex-col text-center w-[80%] lg:w-[40%] items-center">
					<h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">plantilla termo</h6>
                    <h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">conformada</h6>
					<h2 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">eva de niño</h2>
					<h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">"kid"</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[60%]">
                        <span class="text-center">1ra capa multicolor parchis 4mm 35° SHA.</span>
					</div>
                    <a href="/contacto" class="bg-[#55BABB] text-[#fff] py-2 my-4 rounded-xl w-[30%]">Informes</a>
				</div>
			</div>
		</section>

        <!-------------------SLIDER 3------------------------- -->
		<section class="scroll-nav h-screen">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">

				<div class="relative z-40 lg:w-[50%] w-[80%] my-4 lg:h-[80%]">
                    <swiper-container navigation="false" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp lg:w-full h-full z-20">
                      <swiper-slide class="relative">
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full w-full flex justify-center items-center">
                            <img src={soporte4.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                        
                      </swiper-slide>
                      <!---<swiper-slide>
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full flex justify-center items-center">
                            <img src={soporte1.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                      </swiper-slide>--->
                    </swiper-container>
                  </div>
				<div class="flex flex-col text-center w-[80%] lg:w-[40%] items-center">
					<h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">plantilla termo</h6>
                    <h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">conformada</h6>
					<h2 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">eva geriático</h2>
					<h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">"almendra</h3>
                    <h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">metatarsal"</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[60%]">
                        <ul class="text-center">
                            <li>1ra capa beig memo 5mm 20° SHA.</li>
                            <li>2da capa beid memo 10mm 20°SHA.</li>
                        </ul>
					</div>
                    <a href="/contacto" class="bg-[#55BABB] text-[#fff] py-2 my-4 rounded-xl w-[30%]">Informes</a>
				</div>
			</div>
		</section>

		<!-------------------SLIDER 4------------------------- -->
		<section class="scroll-nav h-screen">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">

				<div class="relative z-40 lg:w-[50%] w-[80%] my-4 lg:h-[80%]">
                    <swiper-container navigation="false" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp lg:w-full h-full z-20">
                      <swiper-slide class="relative">
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full w-full flex justify-center items-center">
                            <img src={soporte5.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                        
                      </swiper-slide>
                      <!---<swiper-slide>
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full flex justify-center items-center">
                            <img src={soporte1.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                      </swiper-slide>--->
                    </swiper-container>
                  </div>
				<div class="flex flex-col text-center w-[80%] lg:w-[40%] items-center">
					<h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">plantilla</h6>
                    <h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">extraplana</h6>
					<h2 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">"descarga talón,</h2>
					<h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">zona metatarsal</h3>
                    <h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">y 1° radio"</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[60%]">
                        <ul class="text-center">
                            <li>1ra capa multicolor azul 3mm 30° SHA.</li>
                            <li>2da capa termoplástico.</li>
                            <li>3ra capa forro eva naranja 1mm 45° SHA.</li>
                        </ul>
					</div>
                    <a href="/contacto" class="bg-[#55BABB] text-[#fff] py-2 my-4 rounded-xl w-[30%]">Informes</a>
				</div>
			</div>
		</section>

        <!-------------------SLIDER 5------------------------- -->
		<section class="scroll-nav h-screen">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">

				<div class="relative z-40 lg:w-[50%] w-[80%] my-4 lg:h-[80%]">
                    <swiper-container navigation="false" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp lg:w-full h-full z-20">
                      <swiper-slide class="relative">
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full w-full flex justify-center items-center">
                            <img src={soporte6.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                        
                      </swiper-slide>
                      <!---<swiper-slide>
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full flex justify-center items-center">
                            <img src={soporte1.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                      </swiper-slide>--->
                    </swiper-container>
                  </div>
				<div class="flex flex-col text-center w-[80%] lg:w-[40%] items-center">
					<h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">plantilla termo</h6>
                    <h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">conformada</h6>
					<h2 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">eva "sin descarga</h2>
					<h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">metatarsal"</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[50%]">
                        <ul class="text-center">
                            <li>1ra capa salmón 4mm 30° SHA.</li>
                            <li>2da capa blanco 10mm 30° SHA.</li>
                        </ul>
					</div>
                    <a href="/contacto" class="bg-[#55BABB] text-[#fff] py-2 my-4 rounded-xl w-[30%]">Informes</a>
				</div>
			</div>
		</section>

        <!-------------------SLIDER 6------------------------- -->
		<section class="scroll-nav h-screen">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">

				<div class="relative z-40 lg:w-[50%] w-[80%] my-4 lg:h-[80%]">
                    <swiper-container navigation="false" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp lg:w-full h-full z-20">
                      <swiper-slide class="relative">
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full w-full flex justify-center items-center">
                            <img src={soporte7.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                        
                      </swiper-slide>
                     <!---<swiper-slide>
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full flex justify-center items-center">
                            <img src={soporte1.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                      </swiper-slide>--->
                    </swiper-container>
                  </div>
				<div class="flex flex-col text-center w-[80%] lg:w-[40%] items-center">
					<h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">plantilla termo</h6>
                    <h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">conformada</h6>
					<h2 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">eva "barra</h2>
					<h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">metatarsal"</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[50%]">
                        <ul class="text-center">
                            <li>1ra capa cacao 4mm 30° SHA.</li>
                            <li>2da capa salmón 10mm 30° SHA.</li>
                        </ul>
					</div>
                    <a href="/contacto" class="bg-[#55BABB] text-[#fff] py-2 my-4 rounded-xl w-[30%]">Informes</a>
				</div>
			</div>
		</section>
        <!-------------------SLIDER 7------------------------- -->
		<section class="scroll-nav h-screen">
			<div class="flex lg:flex-row flex-col-reverse w-full h-full justify-evenly items-center px-4 gap-2 lg:gap-0">

				<div class="relative z-40 lg:w-[50%] w-[80%] my-4 lg:h-[80%]">
                    <swiper-container navigation="false" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp lg:w-full h-full z-20 rounded-lg">
                      <swiper-slide class="relative">
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full w-full flex justify-center items-center rounded-lg">
                            <img src={soporte8.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                        
                      </swiper-slide>
                      <!---<swiper-slide>
                        <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
                          <div class="lg:w-full flex justify-center items-center">
                            <img src={soporte1.src} alt="" class="w-full rounded-lg">
                          </div>
                        </div>
                      </swiper-slide>--->
                    </swiper-container>
                  </div>
				<div class="flex flex-col text-center w-[80%] lg:w-[40%] items-center">
					<h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">plantilla termo</h6>
                    <h6 class="uppercase text-[#8FC751] lg:text-4xl text-xl">conformada</h6>
					<h2 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">eva "sin descarga</h2>
					<h3 class="uppercase text-[#0197BF] lg:text-4xl text-xl font-bold">metatarsal"</h3>
					<div class="flex justify-center items-center w-full lg:mt-4 lg:mb-24 lg:w-[50%]">
                        <ul class="text-center">
                            <li>1ra capa salmón perforado 4mm 30° SHA.</li>
                            <li>2da capa blanco 10mm 30° SHA.</li>
                        </ul>
					</div>
                    <a href="/contacto" class="bg-[#55BABB] text-[#fff] py-2 my-4 rounded-xl w-[30%]">Informes</a>
				</div>
			</div>
		</section>

        <script>
            import { register } from "swiper/element/bundle";
            register();
          </script>
          <EquipoEspecial2 />
    <Consulta />
</Layout>