---
import whatsappI from "@assets/header/iconos/whatsappICO.svg";
import facebookICO from "@assets/header/iconos/facebookICO.svg";
import instagramICO from "@assets/header/iconos/instagramICO.svg";
import menuICO from "../assets/header/iconos/hamburgerICO.svg";
import cerrarICO from "@assets/header/iconos/x-12.svg";
import { Image } from "astro:assets";
import logo1 from "@assets/header/LOGO-COMPLETO-PODODINAMIC-1.png";

import bannerSup from '../assets/header/bannersup.png';
---
<!----contenedor padre del header y navbar -->
<header class="scroll-nav relative">

    <section class="relative w-full lg:h-9 h-8">
        <img src={bannerSup.src} alt="" class="h-full w-full relative">

        <div class="absolute top-0 w-full flex pt-2 px-2">
            <div class="flex justify-center lg:w-[96%] w-full text-[#fff] gap-2 items-center lg:text-base text-xs">
                <h3>Central de citas :</h3>
                <div class="flex lg:flex-row lg:gap-2 gap-1">
                    <a href="https://wa.me/51983949899?text=Hola+tengo+una+consulta" target="_blank" class="w-4 lg:w-auto">
                        <img src={whatsappI.src} alt="">
                    </a>
                    <a href="tel:+51983949899">983 949 899</a>
                </div>
        
            </div>
            <div class="flex justify-end gap-3">
                <a href="https://www.facebook.com/Pododinamic" target="_blank">
                    <img src={facebookICO.src} alt="" class="w-4 lg:w-auto">
                </a>
                <a href="https://www.instagram.com/pododinamic/" target="_blank">
                    <img src={instagramICO.src} alt="" class="w-4 lg:w-auto">
                </a>
        
            </div>
        </div>
      </section>

    <section class="flex align-middle justify-center items-center w-full py-2 px-4">
    
        <!----contenedor padre del logo -->
        <div class="flex w-full justify-center lg:gap-28 gap-16">
            <a href="/" class="w-[80%]"><Image src={logo1} alt="A description of my image." class="lg:w-auto "  /></a>
            <button id="menu-button" class="lg:hidden block">
                <img src={menuICO.src} alt="menu">
            </button>
        </div>
        <!---MENU DE NAVEGACION -->
        <nav id="menu" class="hidden h-screen z-[999] top-0 bottom-0 right-0 left-0 bg-[#fff] w-screen text-left lg:bg-transparent lg:right-auto lg:bottom-auto lg:top-auto lg:h-auto lg:w-auto lg:flex lg:items-center lg:gap-4">

                <div class="lg:hidden flex justify-end w-full p-4">
                    <button id="cerrar-menu">
                        <img src={cerrarICO.src} alt="cerrarMenu">
                    </button>
                </div>

                <div class="w-full justify-center flex lg:hidden ">
                    <a href="/" class="w-full justify-center flex"><Image src={logo1} alt="A description of my image." class="lg:hidden w-[80%] my-2" /></a>
                </div>

                
                <div class="flex flex-col lg:flex lg:flex-row lg:p-0 p-4 relative">
                    <ul class="lg:flex lg:gap-4">
                        <div class="w-full">
                            <hr class="my-1 h-[2px] bg-[#1579BD] lg:hidden block w-full">
                        </div>
                        <li>
                            <span id="btn-plantillas" class="uppercase lg:cursor-pointer w-full flex justify-between text-lg lg:text-base z-10 font-bold lg:font-normal lg:hover:bg-[#0197BF] lg:hover:text-white lg:px-4 lg:py-1 rounded">plantillas
                                <svg xmlns="http://www.w3.org/2000/svg" id="flecha-plantillas" class="lg:hidden block transition-transform duration-300 transform" width="24" height="24" viewBox="0 0 24 24"><path fill="#0197bf" d="m7 10l5 5l5-5z"/></svg>
                            </span>
                            <ul id="opt-plantillas" class="hidden lg:absolute text-sm text-left lg:text-center z-30 top-full bg-[#fff] text-[#000] w-full lg:w-40 border-gray-200 rounded-lg">
                            <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/plantillas/tiposPlantillas" class="uppercase">tipos de plantillas</a></li>
                            <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/plantillas/estudioBP" class="uppercase">estudio biomecánico de la pisada</a></li>
                            </ul>
                        </li>
                        <div class="w-full">
                            <hr class="my-1 h-[2px] bg-[#1579BD] lg:hidden block w-full">
                        </div>
                        <li>
                            <span id="btn-tratamientos" class="uppercase lg:cursor-pointer w-full flex justify-between text-lg lg:text-base z-10 font-bold lg:font-normal lg:hover:bg-[#0197BF] lg:hover:text-white lg:px-4 lg:py-1 rounded">tratamientos
                                <svg xmlns="http://www.w3.org/2000/svg" id="flecha-tratamientos" class="lg:hidden block transition-transform duration-300 transform" width="24" height="24" viewBox="0 0 24 24"><path fill="#0197bf" d="m7 10l5 5l5-5z"/></svg>
                            </span>
                            <ul id="opt-tratamientos" class="hidden lg:absolute text-sm text-left lg:text-center z-30 top-full bg-[#fff] text-[#000] w-full lg:w-40 border-gray-200 rounded-lg">
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/tratamientos/quiropodia" class="uppercase">quiropodia</a></li>
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/tratamientos/uEncarnada" class="uppercase">uña encarnada</a></li>
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/tratamientos/onicomicosis" class="uppercase">onicomicosis</a></li>
                            </ul>
                          </li>
                          <div class="w-full">
                            <hr class="my-1 h-[2px] bg-[#1579BD] lg:hidden block w-full">
                        </div>
                        <li>
                            <span id="btn-especialidades" class="uppercase lg:cursor-pointer w-full flex justify-between text-lg lg:text-base z-10 font-bold lg:font-normal lg:hover:bg-[#0197BF] lg:hover:text-white lg:px-4 lg:py-1 rounded">especialidades
                                <svg xmlns="http://www.w3.org/2000/svg" id="flecha-especialidades" class="lg:hidden block transition-transform duration-300 transform" width="24" height="24" viewBox="0 0 24 24"><path fill="#0197bf" d="m7 10l5 5l5-5z"/></svg>
                            </span>
                            <ul id="opt-especialidades" class="hidden lg:absolute text-sm text-left lg:text-center z-30 top-full bg-[#fff] text-[#000] w-full lg:w-40 border-gray-200 rounded-lg">
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/especialidades/vidadiaria" class="uppercase">podología para la vida diaria</a></li>
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/especialidades/pInfantil" class="uppercase">podología infantil</a></li>
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/especialidades/deportiva" class="uppercase">podología deportiva</a></li>
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/especialidades/personasMayores" class="uppercase">podología personas mayores</a></li>
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/especialidades/fisioterapia" class="uppercase">fisioterapia y rehabilitación</a></li>
                            </ul>
                        </li>
                        <div class="w-full">
                            <hr class="my-1 h-[2px] bg-[#1579BD] lg:hidden block w-full">
                        </div>
                        <li >
                            <span id="btn-productos" class="uppercase lg:cursor-pointer w-full flex justify-between text-lg lg:text-base z-10 font-bold lg:font-normal lg:hover:bg-[#0197BF] lg:hover:text-white lg:px-4 lg:py-1 rounded">productos
                                <svg xmlns="http://www.w3.org/2000/svg" id="flecha-producto" class="lg:hidden block transition-transform duration-300 transform" width="24" height="24" viewBox="0 0 24 24"><path fill="#0197bf" d="m7 10l5 5l5-5z"/></svg>
                            </span>
                            <ul id="opt-productos" class="hidden lg:absolute text-sm text-left lg:text-center z-30 top-full bg-[#fff] text-[#000] w-full lg:w-40 border-gray-200 rounded-lg">
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/productos/zapatosNinho" class="uppercase">zapatos para niños</a></li>
                              <li class="hover:bg-[#55BABB] hover:text-white p-2 lg:text-sm"><a href="/productos/soportesPlantares" class="uppercase">soportes plantares eva</a></li>
                            </ul>
                        </li>
                        <div class="w-full">
                            <hr class="my-1 h-[2px] bg-[#1579BD] lg:hidden block w-full">
                        </div>
                    </ul>
                </div>
                <!-------BOTONES------- -->
                <div>
                    <ul class="flex lg:gap-2 lg:flex-row lg:p-0 p-4 text-[#fff] flex-col gap-3">
                        <li>
                            <a href="/contacto"
                                ><button class="uppercase bg-[#00bbbd] text-lg lg:text-base py-1 px-5 rounded-xl hover:brightness-75">cursos</button></a
                            >
                        </li>
                        <li>
                            <a href="/contacto"
                                ><button class="uppercase bg-[#70c946] text-lg lg:text-base py-1 px-5 rounded-xl hover:brightness-75">contacto</button></a
                            >
                        </li>
                        <li>
                            <a href="/nosotros"
                                ><button class="uppercase bg-[#0098c3] text-lg lg:text-base py-1 px-5 rounded-xl hover:brightness-75">nosotros</button></a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
    </section>
    <script is:inline>
        /*mostrar menu*/
        const menuButton = document.getElementById("menu-button");
        const mobileMenu = document.getElementById("menu");
        const cerrarMenu = document.getElementById("cerrar-menu")
      
        menuButton?.addEventListener("click", () => {
            mobileMenu?.classList.remove("hidden");
            menuButton?.classList.add("hidden");
            mobileMenu?.classList.add("block", "fixed");
            mobileMenu?.classList.add("delay-700")
        });
        cerrarMenu?.addEventListener("click", () => {
            mobileMenu?.classList.add("hidden");
            menuButton?.classList.remove("hidden");
          }
        );
        
        
    
        /*------------------mostrar opciones------------------*/

        /*-------------opcion PLANTILLA-------------*/
        const buttonP = document.getElementById("btn-plantillas");
        const optionP = document.getElementById("opt-plantillas");
        const iconFlechaPlant = document.getElementById("flecha-plantillas");
        
        buttonP?.addEventListener("click", () => {
            if (optionP?.classList.contains("hidden")) {
                optionP?.classList.remove("hidden");
                optionT?.classList.add("hidden");
                optionE?.classList.add("hidden");
                optionPro?.classList.add("hidden"); // Abre el menú

                iconFlechaPlant.classList.toggle("rotate-180");
            } else {
                optionP?.classList.add("hidden"); // Cierra el menú
                iconFlechaPlant.classList.toggle("rotate-180");
            } 
        });/*-----------------------------------*/

        /*-------------opcion TRATAMIENTOS-------------*/
        const buttonT = document.getElementById("btn-tratamientos");
        const optionT = document.getElementById("opt-tratamientos");
        const iconFlechaT = document.getElementById("flecha-tratamientos");
        
        buttonT?.addEventListener("click", () => {
            if (optionT?.classList.contains("hidden")) {
                optionT?.classList.remove("hidden");
                optionP?.classList.add("hidden");
                optionE?.classList.add("hidden");
                optionPro?.classList.add("hidden"); // Abre el menú

                iconFlechaT.classList.toggle("rotate-180");
            } else {
                optionT?.classList.add("hidden"); // Cierra el menú
                iconFlechaT.classList.toggle("rotate-180");
            } 
        });/*-----------------------------------*/
        /*-------------opcion ESPECIALIDADES-------------*/
        const buttonE = document.getElementById("btn-especialidades");
        const optionE = document.getElementById("opt-especialidades");
        const iconFlechaEsp = document.getElementById("flecha-especialidades");
        
        buttonE?.addEventListener("click", () => {
            if (optionE?.classList.contains("hidden")) {
                optionE?.classList.remove("hidden");
                optionT?.classList.add("hidden");
                optionP?.classList.add("hidden");
                optionPro?.classList.add("hidden"); // Abre el menú

                iconFlechaEsp.classList.toggle("rotate-180");
            } else {
                optionE?.classList.add("hidden"); // Cierra el menú
                iconFlechaEsp.classList.toggle("rotate-180");
            } 
        });/*-----------------------------------*/
        /*-------------opcion PRODUCTOS-------------*/
        const buttonPro = document.getElementById("btn-productos");
        const optionPro = document.getElementById("opt-productos");
        const iconFlechaP = document.getElementById("flecha-producto");

        buttonPro?.addEventListener("click", () => {
        if (optionPro?.classList.contains("hidden")) {
            optionPro?.classList.remove("hidden");
            optionP?.classList.add("hidden");
            optionE?.classList.add("hidden");
            optionT?.classList.add("hidden"); // Abre el menú

            // Toggle the rotate-180 class on click
            iconFlechaP.classList.toggle("rotate-180");
        } else {
            optionPro?.classList.add("hidden");
            iconFlechaP.classList.toggle("rotate-180"); // Cierra el menú
            // No need to toggle the class here, as you only want to rotate when opening
        }
        });/*-----------------------------------*/
      </script>
</header>
<style>
	.scroll-nav{
		scroll-snap-align: center;
	}

    .fondo{
        background-image: url('../assets/header/bannersup.png');
        object-fit: cover;
    }
</style>